# Compiled class files
*.class

# Maven build directory
/target/

# Gradle build directories
/build/
.gradle/

# IntelliJ IDEA (IDE) files
.idea/

# Eclipse (IDE) files
.settings/
.classpath
.project

# Temporary files
*~